@charset "UTF-8";
.rounded {
  　　border-left-radius: 5px; }

.nimei {
  color: red; }

.nidaye {
  background: red; }

.hehe {
  margin-left: 15px;
  margin-top: 10px;
  -webkit-border-radius: 5px; }
